header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    align-items: center;
}

header ul {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}

header ul li{
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding: 5px 10px;
    transition: .3s;
    border-radius: 5px;
}

header ul li:hover{
    background-color: var(--bg);
    color:var(--orange);
}

.menu-bar{
    font-size: 20px;
    padding-right: 15px;
    display: none;
}