.home{
    background-color: #f5f7f7;
}
.home > .title p{
    font-size: 29px;
    padding: 15px;
    font-weight: bolder;
    color: var(--orange);
}

.home .details{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 17px;
    font-weight: 600;
    width: fit-content;
    margin: auto;
    padding: 0;
    background-color: white;
}

.home .details li{
    padding: 7px 10px;
    height: 100%;
    transition: background-color .3s ;
    border-radius: 3px;
}

.home .details li:hover{
    background-color: #ddd;
    cursor: pointer;
}

.home .details li.active{
    color: white;
    background-color: var(--blue);
}

.home .det-page{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items:safe;
    justify-content: center;
    margin-bottom: 100px;  
}

.home .det-page .part{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    padding: 10px;
    letter-spacing: 1px;
    margin: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(3, 0, 92, 0.12) 0px 1px 3px, rgba(3, 0, 92, 0.07) 0px 4px 11px;
    width: 40%;
    justify-content: center;
    transition: .3s;
    border: 1px solid transparent;
}

.home .det-page .part:hover{
    box-shadow: 0 0 10px 10px #ddd;
}

.home .det-page .part:hover h3{
    color: var(--orange);
}

.home .det-page .quote-part{
    margin: 30px;
    width: 40%;
    height: 60%;
    color: black;
    align-self: center;
    font-size: 23px;
    text-align: center;
}

.home .det-page .quote-part img{
    width: 80%;
    border-radius: 10px;
}

.home .det-page h3{
    color: var(--blue);
    text-align: center;
    font-size: 27px;
    margin-bottom: 20px;
}

.home .det-page p{
    font-size: 20px;
}

span.orange{
    color: var(--orange);
    font-weight: bold;
}

.det-page .host-part{
    display: flex;
    flex-direction: column;
    gap: 8px;
    letter-spacing: 1px;
    box-shadow: rgba(3, 0, 92, 0.12) 0px 1px 3px, rgba(3, 0, 92, 0.07) 0px 4px 11px;
    padding: 10px;
    margin: 30px;
    background-color: white;
    border-radius: 3px;
    width: 40%;
    border: 1px solid transparent;
    transition: .3s;
}

.home .det-page .host-part a{
    color: white;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    padding: 8px 10px;
    border-radius: 5px;
    width: 200px;
    align-self: center;
}

.home .det-page .host-part p{
    margin-bottom: 10px;
}

.know-more-btn{
    width: 100%;
    text-align: center;
}

.home .det-page .host-part:hover{
    box-shadow: 0 0 10px 10px #ddd;
}

.know-more-btn button{
    padding: 10px 20px;
    cursor: pointer;  
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
}


@media all and (max-width:768px){
    .home > .title p{
        font-size: 22px;
    }
    .home .details{
        font-size: 16px;
    }
    .home .details li{
        padding: 7px 5px;
        text-align: center;
    }
    .home .det-page .part, .home .det-page .host-part{
        width: 100%;
        margin: 30px;
        padding: 10px;
        margin-bottom: 20px;
    }
    .home .det-page .quote-part{
        width: 100%;
        margin: 0;
    }
    .home .det-page .quote-part img{
        width: 100%;
        border-radius: 0;
    }
    .home .det-page .one{
        order: 1;
    }
    .home .det-page .two{
        order: 2;
    }
    .home .det-page .three{
        order: 3;
    }
    .home .det-page .four{
        order: 4;
    }
    .home .det-page .five{
        order: 5;
    }
    .home .det-page .six{
        order: 6;
    }
    .home .det-page .seven{
        order: 7;
    }
    .home .det-page .eight{
        order: 8;
    }
    .home .det-page .nine{
        order: 9;
    }

}


@media all and (max-width:425px){
    .home > .title p{
        font-size: 20px;
    }
    .home .det-page h3{
        font-size: 22px;
    }
    .home .det-page p{
        font-size: 17px;
    }
    .home .det-page .quote-part{
        font-size: 20px;
        padding: 0;
    }
    .home .details{
        gap: 10px;
    }
}