/* post problem statement */

.post-problem{
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

.post-problem .title{
    font-size: 25px;
    text-align: start;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
    color: var(--orange);
    font-weight: bolder;
}

.post-problem .form-div{
    display: grid;
    grid-template-areas: 'left right';
    width: 100%;
    grid-template-columns: 1fr 1fr;
    height: 80%;
    gap: 20px;
}

.post-problem .form-div .left{
    grid-area: 'left';
}

.post-problem .form-div .right{
    grid-area: 'right';
}

.post-problem .form-div .left, .post-problem .form-div .right{
    width: 95%;
    height: 100%;
    padding: 10px 15px;
    border-radius: 4px;
}

.post-problem .form-div .form-title{
    color: var(--blue);
    font-weight: bolder;
    font-size: 22px;
    margin-bottom: 15px;
}

.post-problem .form-div form{
    height: 100%;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-problem .form-div form label{
    padding-bottom: 7px;
    font-size: 17px;
}

.post-problem .form-div form input,.post-problem .form-div form select, .post-problem .form-div form textarea {
    margin-bottom: 14px;
    padding: 6px 10px;
    border-radius: 3px;
    border: 1px solid;
}

.post-problem .form-div form input:hover,.post-problem .form-div form select:hover, .post-problem .form-div form textarea:hover{
    transition: .4s;
    background-color: #ddd;
}

.post-problem .form-div form textarea{
    padding: 10px;
}

.post-problem .form-div .right ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ipss-form-next{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 5px 15px;
    width: 120px;
    font-weight: 600;
    font-size: 16px;
    align-self: center;
}

.ipss-form-next:hover{
    background-color: #ddd;
}


@media all and (max-width:768px){
    header ul{
        display: none;
    }
    .menu-bar{
        display: block;
    }
    .post-problem .form-div{
        display: flex;
        flex-direction: column-reverse;
    }
    .post-problem .form-div .left, .post-problem .form-div .right{
        width: 100%;
    }
}

@media all and (max-width:425px){
    .post-problem{
        padding: 30px 10px;
    }
}

@media all and (max-width:375px){
    .post-problem .form-div .left, .post-problem .form-div .right{
        padding: 10px 5px;
    }
}


@media all and (max-width:320px){
    .post-problem .form-div .left form{
        padding: 5px;
    }
}