.view-hackathon {
    padding: 20px;
}

.view-hackathon .problem-title {
    color: var(--blue);
    text-align: center;
    margin-bottom: 30px;
}

.view-hackathon .problem-n-rules {
    display: flex;
    gap: 20px;
}

.view-hackathon .problem-details {
    width: 60%;
}

.view-hackathon .problem-details h1{
    text-align: center;
    color: var(--orange);
}

.view-hackathon .problem-details p{
    margin-bottom: 20px;
    font-size: 18px;
}

.view-hackathon .problem-rules {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.view-hackathon .problem-rules img{
    margin-left: 10%;
    width: 90%;
    align-self: center;
}

.view-hackathon .problem-rules .problem-p{
    margin-left: 10%;
    width: 90%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.view-hackathon .timeline {
    width: max-content;
    padding: 6px 10px;
    padding-right: 12px;
    border-radius: 15px;
    display: flex;
    color: white;
    background-color: #23a196;
}

.view-hackathon .timeline .circle {
    width: 6px;
    height: 6px;
    margin: auto 6px;
    border-radius: 50%;
    background-color: white;
}

.view-hackathon .problem-rules .solve-now{
    background-color: var(--blue);
    color: #fff;
    padding: 15px 20px;
    border-radius: 6px;
    margin: 20px;
    width: 150px;
    align-self: center;
    text-align: center;
    font-weight: 600;
}


@media all and (max-width:768px) {
    .problem-n-rules{
        flex-direction: column;
    }
    .view-hackathon .problem-details, .view-hackathon .problem-rules{
        width: 100%;
    }
    .view-hackathon .problem-rules{
        align-items: center;
    }
}