@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --orange: #ce4d2f;
    --bg:#eaf5fe;
    --blue: #032d60;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

/* main */

.main{
    width: 100%;
    min-height: 100vh;
    height: auto;
}

.title{
    text-align: center;
}