@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, h1, h2, p, img, div, span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff;
    color: #333;
}

.ipss-form-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.top-btn {
    align-self: flex-start;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    color: black;
}

.top-btn span {
    margin-right: 5px;
}

.ipss-form {
    height: 755px;
    display: flex;
    border-radius: 8px;
    box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 95%;
    max-width: 100%;
}


.ipss-form-poster {
    width: 40%;
    display: flex;
    border-right: none;
    border-bottom: 1px solid #ddd;
    justify-content: center;
    align-items: center;
}

.ipss-form-poster img {
    width: 75%;
    max-width: calc(100% - 30px);
    height: auto;
    margin: 0 15px;
}

.form-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start;
    padding-top: 15px;
}

.form-page h2{
    margin-top: 20px;
}

.progress-line{
    width: 50%;
    height: 30px;
    position: relative;
}

.progress-line div{
    border-radius: 5px;
    position: absolute;
    top: 10px;
    height: 10px;
}

.progress-line .empty-line{
    width: 100%;
    z-index: 2;
    background-color: #a2a2a2;
}

.progress-line .filled-line{
    background-color: black;
    transition: .5s;
    z-index: 3;
}

.progress-line .filled-line::after{
    content: '';
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.form-page form{
    display: flex;
    flex-direction: column;
    width: 424px;
    margin-top: 50px;
    gap: 10px;
    margin-bottom: 100px;
}

.form-page form label{
    font-size: 16px;
    font-size: 500;
    margin-left: 15px;
    margin-top: 5px;
}

.form-page form input, .form-page form select, .form-page form textarea{
    border: none;
    outline: none;
    /* background-color: #ddd; */
    border-radius: 5px;
    width: 424px;
    padding: 8px;
    border: 1px solid #817e7e;
    color: black;
    box-sizing: border-box;
}

.form-page form input:hover, .form-page form select:hover, .form-page form textarea:hover{
    background-color: #d5d2d2;
}

.form-page form input:focus{
    border-bottom: 2px solid rgb(61, 60, 60);
    background-color: #cccaca;
}

.form-page form input, .form-page form textarea{
    padding-left: 10px;
}

.form-page form input::placeholder ,.form-page form textarea::placeholder{
    color: rgb(103, 102, 102);
}

.ipss-form-next {
    margin-top: 10px;
    border: none;
    background-color: #bdbaba;
    border-radius: 6px;
    padding: 5px 10px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

@media (max-width: 768px) {
    .ipss-form {
        flex-direction: column;
        height: auto;
    }

    .ipss-form-poster {
        width: 100%;
        height: 200px;
        margin-top: 30px;
        position: relative;
        overflow-y: hidden;
        border-right: none;
        border-bottom: 1px solid #ddd;
    }

    .ipss-form-poster img {
        margin-top: 15px;
        position: absolute;
    }

    .form-page form{
        width: 80vw;
    }

    .form-page form input, .form-page form select, .form-page form textarea{
        width: 90%;
        margin: 0 auto;
    }

    .progress-line{
        width: 80%;
    }
}

@media (max-width: 376px) {
    .ipss-form-page{
        padding: 20px 5px;
        background-color: #f6f4f4;
    }
    .ipss-form{
        background-color: white;
    }
    .form-page form input, .form-page form select, .form-page form textarea{
        background-color: rgb(234, 232, 232);
    }
    .ipss-form-poster {
        height: 150px;
    }
    .ipss-form button{
        padding: 5px 10px ;
    }
}

.ipss-view-page {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.ipss-view{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px 0;
    /* background-color: #d4d1d1; */
    box-shadow: 1px 1px 10px 1px;
}

.ipss-view-poster {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 13px 10px rgb(100 84 84 / 16%);
    overflow: hidden;
    margin-bottom: 20px;
    width: 800px;
    max-width: 100%;
}

.ipss-view-poster img {
    max-width: 100%;
    height: auto;
}

.view-page {
    width: 800px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.ipss-view-ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-around;
    background-color: #007bff;
    border-bottom: 2px solid #0056b3;
}

.ipss-view-li {
    flex: 1;
    text-align: center;
    padding: 15px 0;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ipss-view-li.active,
.ipss-view-li:hover {
    background-color: #0056b3;
}

.ipss-view-dets {
    padding: 20px;
}

.part {
    margin-bottom: 20px;
}

.part h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #007bff;
}

.part p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.part span {
    font-size: 24px;
    color: #007bff;
    margin-right: 10px;
}

.part-btns{
    display: flex;
    align-items: center;
}

.part button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.part button:hover {
    background-color: #0056b3;
}

.know-more-btn button{
    margin-top: 10px;
    border: none;
    background-color: #bdbaba;
    border-radius: 6px;
    padding: 10px 15px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

@media (max-width: 768px) {
    .ipss-view-page{
        padding: 20px 5px;
    }
    .ipss-view{
        width: 100%;
        padding: 15px 10px;
    }

    .ipss-view-li {
        border-bottom: 1px solid #0056b3;
        padding: 15px 5px;
        font-size: 12px;
    }

    .ipss-view-li:last-child {
        border-bottom: none;
    }
}

@media (max-width: 420px) {
    .ipss-view-poster{
        height: 150px;
    }
}